{% extends "layout.njk" %}

{# {% block styles %}
<style>
    {% for style in styles %}
        <link rel="stylesheet" href={{style}} />
    {% endfor %}
</style>
{% endblock %} #}

{% block body %}
    <h1>Show all articles</h1>
    <ul>
        {% for article in articles %}
            <li>
                <h4><a href="/articles/{{article.id}}">{{article.title}}</a></h4>
            </li>            
        {% endfor %}
    </ul>
{% endblock %}