{% extends "layout.njk" %}

{% block body %}
    <div>
        <a href="/articles">Show all articles</a>
    </div>
    <div>
        <a href="/articles/form">Post Article</a>
    </div>
{% endblock %}