{% extends "layout.njk" %}

{% block body %}
    <form method="POST" action="/articles">
        {# Add Article Link #}
        <div class="form-group">
            <label for="link">Link</label>
            <input type="text" class="form-control" id="link" name="url" placeholder="Link">
        </div>

        <input type="submit" value="Save article" />
    </form>
{% endblock %}